parameters:
    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    includes:
        - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
        - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
        - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
        - vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

    ignoreErrors:
        # PHPUnit
        - '#Parameter \#1 \$router of class Core23\\Twig\\Extension\\RouterTwigExtension constructor expects Symfony\\Component\\Routing\\RouterInterface, PHPUnit\\Framework\\MockObject\\MockObject given.#'
        - '#Parameter \#1 \$environment of method Core23\\Twig\\Extension\\RouterTwigExtension::initRuntime\(\) expects Twig_Environment, PHPUnit\\Framework\\MockObject\\MockObject given.#'
        - '#Parameter \#1 \$pager of method Core23\\Twig\\Extension\\RouterTwigExtension::generatePager\(\) expects Sonata\\DatagridBundle\\Pager\\BasePager, PHPUnit\\Framework\\MockObject\\MockObject given.#'

        # Symfony DI
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

