parameters:
    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        # Symfony DI
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

