parameters:
    level: max

    checkMissingIterableValueType: false

    paths:
        - src
        - tests

    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        # Symfony DI
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

        # PHPUnit
        -
            message: '#Property .*::\$.* has no typehint specified.#'
            path: tests/
        -
            message: "#Call to static method .+Assert::assertInstanceOf.. with 'Twig.+' and Twig.+ will always evaluate to true.#"
            path: tests/Twig/Extension/
