parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFilter' and Twig\\\\TwigFilter will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/RouterTwigExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFunction' and Twig\\\\TwigFunction will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/RouterTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\Twig\\\\Tests\\\\Twig\\\\Extension\\\\RouterTwigExtensionTest\\:\\:testSplitTag\\(\\) has parameter \\$output with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Twig/Extension/RouterTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\Twig\\\\Tests\\\\Twig\\\\Extension\\\\RouterTwigExtensionTest\\:\\:getSplitList\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Twig/Extension/RouterTwigExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFilter' and Twig\\\\TwigFilter will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/StringTwigExtensionTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Twig/Extension/TwigExtensionIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Twig/Extension/TwigExtensionIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Twig/Extension/TwigExtensionIntegrationTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Twig\\\\\\\\TwigFilter' and Twig\\\\TwigFilter will always evaluate to true\\.$#"
			count: 1
			path: tests/Twig/Extension/UrlAutoConverterTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\Twig\\\\Tests\\\\Twig\\\\Extension\\\\UrlAutoConverterTwigExtensionTest\\:\\:getLinkText\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Twig/Extension/UrlAutoConverterTwigExtensionTest.php

		-
			message: "#^Method Nucleos\\\\Twig\\\\Tests\\\\Util\\\\StringUtilsTest\\:\\:getObfuscatedStrings\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Util/StringUtilsTest.php

