parameters:
	ignoreErrors:
		-
			message: '#^Method Nucleos\\Twig\\Tests\\Bridge\\Symfony\\App\\AppKernel\:\:configureContainer\(\) has parameter \$container with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/Bridge/Symfony/App/AppKernel.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Bridge\\Symfony\\App\\AppKernel\:\:configureContainer\(\) has parameter \$loader with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/Bridge/Symfony/App/AppKernel.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Bridge\\Symfony\\App\\AppKernel\:\:configureRoutes\(\) has parameter \$routes with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: tests/Bridge/Symfony/App/AppKernel.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Runtime\\RouterRuntimeTest\:\:provideSplitTagCases\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Runtime/RouterRuntimeTest.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Runtime\\RouterRuntimeTest\:\:testSplitTag\(\) has parameter \$output with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Runtime/RouterRuntimeTest.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Runtime\\UrlAutoConverterRuntimeTest\:\:provideConvertLinksWithLinksCases\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Runtime/UrlAutoConverterRuntimeTest.php

		-
			message: '#^Method Nucleos\\Twig\\Tests\\Util\\StringUtilsTest\:\:provideObfuscateCases\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Util/StringUtilsTest.php

